.form-editor.section 
  ._wrap.wrap
    ._title Редактор формы
    ._settings

      ._settings-list

        .form-settings
          ._title 
            ._title-text Основные настройки формы
            ._title-manipulator
              +svg('arrow')  
          label._label Название формы
            input(type="text" placeholder="Название")._input             
          label._label Ссылка на оригинальное видео
            input(type="text" placeholder="URL")._input             
          ._video
            ._video-opening-time
              ._text Время открытия формы
              ._time 00:00
            ._video-opening-duration
              ._text Продолжительность
              ._time 00:00 
          label._label Адреса эл. почты для отправки заявок
            input(type="text" placeholder="Email")._input.mail-application
            .plus &#10010;
          ._input-list-mail  
            input(type="text" placeholder="someemail@email.com")._input
            .close &#10006;


        .form-settings
          ._title 
            ._title-text Оформление формы
            ._title-manipulator
              +svg('arrow')  
          label._label Оформление формы
            input(type="text" placeholder="Заголовок")._input             
              
          ._layout-title Расположение формы
          ._layout-box
            ._layout-box-item Слева 1/3
            ._layout-box-item.form-settings__layout-box-item_active По центру
            ._layout-box-item Справа 1/3
          ._color-box 
            ._color-box-opacity
              ._color-box-opacity-text Прозрачность фона
              - var n = 0;
                select._color-box-opacity-select
                  while n < 101
                    option= n++ +'%'
              ._browsing      
                +svg('arrow')

            ._settings
              ._settings-select-title Цвет фона
              ._settings-select
                input(type="text" placeholder="#F1F1F1" data-wheelcolorpicker)._settings-select-code.colorpicker-element
                input(type="text" data-wheelcolorpicker)._settings-select-color.colorpicker-element


        .form-settings
          ._title 
            ._title-text Оформление формы
            ._title-manipulator
              +svg('arrow')
          ._elements-checkbox-item  
            input(type="checkbox" id="cb1")._elements-checkbox-input
            label(for="cb1")._elements-checkbox-label Поле ввода Имени 
          ._elements-checkbox-item    
            input(type="checkbox" id="cb2")._elements-checkbox-input
            label(for="cb2")._elements-checkbox-label Поле ввода адреса эл. почты
          ._elements-checkbox-item  
            input(type="checkbox" id="cb3")._elements-checkbox-input
            label(for="cb3")._elements-checkbox-label Поле ввода номера телефона



        .form-settings
          ._title 
            ._title-text Оформление элементов формы
            ._title-manipulator
              +svg('arrow')
          ._input-fields

            ._input-fields-text Поля ввода информации
            ._input-fields-box

              ._section-item
                ._section-item-box
                  ._section-item-title Цвет заливки
                  ._block-input
                    input(type="text" placeholder="#FFFFFF" data-wheelcolorpicker data-wcp-format="css" )._block-input-code 
                    input(type="text" data-wheelcolorpicker="" data-wcp-sliders="wv" data-wcp-preview="true")._block-input-color.block-input__color-white

                ._section-item-box
                  ._section-item-title
                    input(type="checkbox" id="cb4")._elements-checkbox-input.section__item-checkbox
                    label(for="cb4").section-item-label Цвет границы
                  ._block-input
                    input(type="text" placeholder="#F1F1F1" data-wheelcolorpicker data-wcp-format="css")._block-input-code 
                    input(type="text" data-wheelcolorpicker="" data-wcp-sliders="wv" data-wcp-preview="true" )._block-input-color

              ._section-item
                ._section-item-box
                  ._section-item-title Цвет текста
                  ._block-input
                    input(type="text" placeholder="#595959" data-wheelcolorpicker data-wcp-format="css")._block-input-code 
                    input(type="text" data-wheelcolorpicker="" data-wcp-sliders="wv" data-wcp-preview="true")._block-input-color.block-input__color-darkgray

                ._section-item-box
                  ._section-item-title Цвет пустого текста
                  ._block-input
                    input(type="text" placeholder="#F1F1F1" data-wheelcolorpicker data-wcp-format="css")._block-input-code 
                    input(type="text" data-wheelcolorpicker="" data-wcp-sliders="wv" data-wcp-preview="true")._block-input-color





 
            ._input-fields-text  Оформление кнопки
            ._input-fields-box

              ._section-item
                ._section-item-box
                  ._section-item-title Цвет заливки
                  ._block-input
                    input(type="text" placeholder="#FFFFFF" data-wheelcolorpicker data-wcp-format="css")._block-input-code 
                    input(type="text" data-wheelcolorpicker="" data-wcp-sliders="wv" data-wcp-preview="true")._block-input-color.block-input__color-blue

                ._section-item-box
                  ._section-item-title
                    input(type="checkbox" id="cb5")._elements-checkbox-input.section__item-checkbox
                    label(for="cb5").section-item-label Цвет границы
                  ._block-input
                    input(type="text" placeholder="#FFFFFF" data-wheelcolorpicker data-wcp-format="css")._block-input-code 
                    input(type="text" data-wheelcolorpicker="" data-wcp-sliders="wv" data-wcp-preview="true")._block-input-color

              ._section-item
                ._section-item-box
                  ._section-item-title Цвет текста
                  ._block-input
                    input(type="text" placeholder="#FFFFFF" data-wheelcolorpicker data-wcp-format="css")._block-input-code
                    input(type="text" data-wheelcolorpicker="" data-wcp-sliders="wv" data-wcp-preview="true")._block-input-color.block-input__color-white 


        .preview-post
          ._title Предпросмотр и публикация       
          ._box
            button(type='submit')._btn.button Сохранить
            ._preview-form
              +svg('triangle')
              a(href="#")._link Предпросмотр формы


      ._preview
        ._preview-video
          ._preview-video-form
            ._preview-video-form-title Заявка на консультацию
            label(for="name").consultation-form__label Введите ваше имя
              input(type="text" id="name" placeholder="Имя").consultation-form__input      
            label(for="mail").consultation-form__label Адрес эл. почты
              input(type="text" id="mail" placeholder="Email").consultation-form__input      
            label(for="tel").consultation-form__label Ваш номер телефона
              input(type="text" id="tel" placeholder="+7").consultation-form__input 
            button(type='submit').consultation-form__btn.button  Отправить заявку      

