.form-editor {
  padding-bottom: 96px;
  background: url(img/bg.jpg) no-repeat center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__wrap {
    align-items: center;
  }

  &__title {
    padding: 70px 0;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
  }

  &__settings {
    display: flex;
    justify-content: center;
    max-width: 1160px;

    &-list {
      max-width: 576px;
    }
  }
}


.form-settings {
  margin-bottom: 24px;
  padding: 24px;
  background: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;

    &-manipulator {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background: #f1f1f1;
      text-align: center;

      &:hover {
        cursor: pointer;
      }
    }

    &-text {
      font-size: 24px;
    }
  }

  &__label,
  &__layout-title {
    margin-top: 18px;
    font-size: 16px;
    font-weight: 600;
  }

  &__input {
    display: block;
    width: 528px;
    height: 47px;
    margin-top: 7px;
    margin-bottom: 18px;
    padding-left: 16px;
    border: 1px solid #f1f1f1;
    background-color: #ffffff;

    &-list-mail {
      display: flex;
      flex-direction: column;
    }

    &-group-mail {
      display: flex;
      align-items: center;
      position: relative;
      width: 486px;

    }

    &_bg-gray {
      background: #f9f9f9;
      margin-bottom: 0;
    }


    &-applicatio {
      display: flex;
      align-items: center;
    }
  }

  &__video-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;

    &-box {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-title {
        font-size: 16px;
        font-weight: 600;
        margin-right: 8px;
      }
    }

    &-time {
      width: 56px;
      height: 32px;
      border: 1px solid #f1f1f1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.mail-application {
  width: 486px;
  display: inline-block;
  margin-right: 14px;
  margin-bottom: 0;
}

.plus {
  display: inline-block;
  width: 24px;
  height: 24px;
  color: #4b76e4;
  text-align: center;
  padding-top: 2px;
  background-color: #f1f1f1;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
  }
}

.close {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 20px;
  right: 16px;
  font-size: 18px;
  color: #595959;

  &:hover {
    cursor: pointer;
  }
}

.colorpicker-element {
  width: 90px;
  height: 25px;
  background-color: #f1f1f1;
  border: none;


}

.form-settings {
  &__browsing {
    position: absolute;
    right: 37px;
    top: 37px;
    width: 24px;
    height: 24px;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: rotate(180deg);
  }


  &__layout-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-item {
      width: 160px;
      height: 59px;
      margin-top: 8px;
      border: 1px solid #f1f1f1;
      display: flex;
      align-items: center;
      justify-content: center;

      &_active {
        border: 1px solid #4b76e4;
      }
    }

  }

  &__settings-select-title {
    font-size: 16px;
    font-weight: 600;
  }

  &__color-box {
    display: flex;
    align-items: center;
    margin-top: 18px;

    &-opacity {
      position: relative;
    }

    &-opacity-title {
      font-size: 16px;
      font-weight: 600;
    }

    &-opacity-select {
      background: transparent !important;
      appearance: none;
      background: #fff;
      outline: 0;
      z-index: 2;
      position: relative;
    }

    &-opacity-select {
      background: url(img/arrow-bg.png);
      background-position: 95% 50%;
      width: 254px;
      height: 47px;
      color: #595959;
      font-size: 18px;
      padding-left: 16px;
      margin-top: 7px;
      margin-right: 20px;
      border: 1px solid #f1f1f1;

    }
  }

  &__settings-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 207px;
    height: 47px;
    padding: 8px 16px;
    margin-top: 7px;
    border: 1px solid #f1f1f1;
    background-color: #ffffff;

    &-code {
      font-size: 18px;
      text-transform: uppercase;
      background: #fff;
    }

    &-color {
      width: 88px;
      height: 31px;
    }
  }

  &__elements-checkbox-item {
    display: flex;
    align-items: center;
    width: 526px;
    height: 79px;
    padding-left: 48px;
    margin-top: 8px;
    background-color: #f9f9f9;
  }
}

.form-settings__elements-checkbox-input:checked,
.form-settings__elements-checkbox-input:not(:checked) {
  position: absolute;
  left: -9999px;
}

.form-settings__elements-checkbox-input:checked+label,
.form-settings__elements-checkbox-input:not(:checked)+label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}

.form-settings__elements-checkbox-input:checked+label:before,
.form-settings__elements-checkbox-input:not(:checked)+label:before {
  content: "";
  position: absolute;
  left: -24px;
  top: -3px;
  width: 22px;
  height: 22px;
  border: 1px solid #f1f1f1;
  background-color: #ffffff;
}

.form-settings__elements-checkbox-input:checked+label:before,
.form-settings__elements-checkbox-input:not(:checked)+label:before {
  border-radius: 5px;
}

.form-settings__elements-checkbox-input:checked+label:before {
  background-color: #4b76e4;
  border: 1px solid #4b76e4;
}

.form-settings__elements-checkbox-input:checked+label:after,
.form-settings__elements-checkbox-input:not(:checked)+label:after {
  content: "";
  position: absolute;
  transition: all 0.2s ease;
}

.form-settings__elements-checkbox-input:checked+label:after,
.form-settings__elements-checkbox-input:not(:checked)+label:after {
  left: -19px;
  top: 3px;
  width: 10px;
  height: 5px;
  border-radius: 1px;
  border-left: 4px solid #fff;
  border-bottom: 4px solid #fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.form-settings__elements-checkbox-input:not(:checked)+label:after {
  opacity: 0;
}

.form-settings__elements-checkbox-input:checked+label:after {
  opacity: 1;
}


.preview-post {
  margin-top: 24px;
  padding: 28px 25px;
  background: #ffffff;

  &__title {
    font-size: 24px !important;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 23px;
  }

  &__btn {
    width: 256px;
    height: 56px;
  }

  &__preview-play {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-link {
      color: #4b76e4;
      font-weight: 600;
      margin-left: 16px;
    }
  }


}

.form-settings {

  &__input-fields-text {
    font-size: 18px;
    font-weight: 600;
    margin-top: 23px;
  }

  &__section-item-title {
    font-size: 16px;
    font-weight: 600;
    margin-top: 16px;
  }

  &__input-fields-box {
    max-width: 528px;
    background-color: #f1f1f1;
    padding: 16px 24px;
    padding-right: 66px;
    padding-top: 0;
    margin-top: 15px;
  }

  &__section-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__block-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 207px;
    height: 47px;
    padding: 8px 16px;
    margin-top: 7px;
    border: 1px solid #f1f1f1;
    background-color: #ffffff;
  }

  &__block-input-code {
    width: 90px;
    color: #595959;
    font-size: 18px;
    text-transform: uppercase;
    border: none
  }

  &__block-input-color {
    width: 88px;
    height: 31px;
    background-color: #f1f1f1;
    border: none
  }

  &__section-item-box {
    max-width: 207px;

  }

  &__block-input-color-white {
    background: #ffffff;
  }

  &__block-input-color-darkgray {
    background: #595959;
  }

  &__block-input-color-blue {
    background: $blue;
  }
}



.section__item-checkbox:checked+label.section-item-label:before,
.section__item-checkbox:not(:checked)+label.section-item-label:before {
  content: "";
  position: absolute;
  left: -2px;
  top: -3px;
  width: 22px;
  height: 22px;
  border: 1px solid #f1f1f1;
  background-color: #ffffff;
}

.section__item-checkbox:checked+label.section-item-label:before {
  background-color: #4b76e4;
}


.section__item-checkbox:checked+label.section-item-label:after,
.section__item-checkbox:not(:checked)+label.section-item-label:after {
  left: 3px;
  top: 3px;
  width: 10px;
  height: 5px;
  border-radius: 1px;
  border-left: 4px solid #fff;
  border-bottom: 4px solid #fff;
  transform: rotate(-45deg);
}


.form-editor__preview-video {
  background: url(img/form-bg.jpg) no-repeat center/cover;
  width: 560px;
  margin-left: 24px;
  display: flex;
  position: sticky;
  top: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);

  &-form {
    max-width: 236px;
    padding: 22px 30px;
    background-color: #ffffff;

    &-title {
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 15px;
    }

    &-label {
      font-size: 12px;
      font-weight: 600;
    }

    &-input {
      width: 176px;
      height: 32px;
      padding-left: 16px;
      margin-top: 5px;
      margin-bottom: 10px;
      border: 1px solid #f1f1f1;
    }

    &-btn {
      width: 176px;
      height: 40px;
      margin-top: 6px;
      background-color: #4b76e4;
      font-size: 12px;
      font-weight: 700;
    }
  }
}

@media(max-width: 1200px) {
  .form-editor {
    &__settings {
      flex-direction: column;
      align-items: center;
    }

    &__preview-video {
      margin-left: 0;
      margin-top: 24px;
    }
  }

}

@media(max-width: 768px) {
  .form-editor {
    &__title {
      padding: 36px 0;
    }

  }
}

@media(max-width: 576px) {
  .form-settings {
    &__input {
      width: 100%;
    }

    &__video-info {
      flex-direction: column;
      align-items: flex-start;

      &-box-title {
        width: 180px;
      }

      &-box {
        margin-top: 7px;
      }
    }

    &__layout-box {
      flex-direction: column;
      align-items: flex-start;
    }

    &__color-box {
      flex-direction: column;
      align-items: flex-start;

    }

    &__elements-checkbox-item {
      width: 100%;
    }

    &__section-item {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .preview-post__box {
    flex-direction: column;
    align-items: flex-start;
  }

}