.page-two  
  .login
    .login__header Регистрация
    label(for="login").login__label Ваше имя
      input(type="text" id="login" placeholder="Имя").login__input  
    label(for="password").login__label Ваша фамилия
      input(type="text" id="password" placeholder="Фамилия").login__input  
    label(for="password").login__label Адрес эл. почты
      input(type="email" id="password" placeholder="E-mail").login__input  
    label(for="password").login__label Пароль
      input(type="text" id="password" placeholder="Пароль").login__input  
    label(for="password").login__label Подтвердите пароль
      input(type="text" id="password" placeholder="Подверждение").login__input  
    button(type='submit').login__button Зарегистрироваться