.page-two {
  background: url(img/bg.jpg) no-repeat center/cover;
  padding-top: 162px;
  padding-bottom: 107px;

  .login {
    max-width: 456px;
    padding: 32px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    background: #ffffff;

    &__header {
      font-size: 24px;
    }

    &__input {
      display: block;
      width: 392px;
      height: 47px;
      padding-left: 16px;
      margin-top: 7px;
      font-size: 18px;
      color: $gray;
      border: 1px solid #f1f1f1;
    }

    &__label {
      font-size: 16px;
      font-weight: 600;
      margin-top: 26px;
    }

    &__restore {
      margin-top: 7px;
    }

    &__button {
      height: 56px;
      margin-top: 31px;
    }
  }
}