.auth.section 
  ._box
    ._header
      ._title Регистрация
      a(href="#")._link Уже есть аккаунт?
    label._label Ваше имя
      input(type="text" placeholder="Имя")._input  
    label._label Ваша фамилия
      input(type="text" placeholder="Фамилия")._input  
    label._label Адрес эл. почты
      input(type="text" placeholder="E-mail")._input  
    label._label Пароль
      input(type="text" placeholder="Пароль")._input  
    label._label Подтвердите пароль
      input(type="text" placeholder="Подверждение")._input  
    button(type='submit').auth__button.button Зарегистрироваться
