.auth.section 
  ._box
    ._header
      ._title Вход
      a(href="#")._link Создать акаунт
    label._label Введите логин
      input(type="text" placeholder="Логин")._input  
    label._label Введите пароль
      input(type="text" placeholder="Пароль")._input  
    a(href="#")._link.-restore Восстановить пароль
    button(type='submit')._button.button Войти
  
