.page-one  
  .login
    .login__header
      .header__enter Вход
      .header__create-account
        a(href="#").login__link Создать акаунт
    label(for="login").login__label Введите логин
      input(type="text" id="login" placeholder="Логин").login__input  
    label(for="password").login__label Введите пароль
      input(type="text" id="password" placeholder="Пароль").login__input  
    .login__restore
      a(href="#").login__link Восстановить пароль
    button(type='submit').login__button Войти
  
