.footer {
  background: #4a4a4a;
  color: #fff;

  &__wrap {
    width: 1440px;
    max-width: 1440px;
    padding: 8px 40px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  &__rights-reserved {
    display: flex;
    align-items: center;
  }

  &__links {
    font-size: 14px;
    line-height: 24px;
  }

  &__link {
    padding-left: 36px;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    text-decoration: underline;
  }
}