.footer {
  background: #4a4a4a;
  color: #fff;

  &-container {
    max-width: 1440px;
    padding: 8px 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
      display: flex;
      align-items: center;
    }

    &__right {
      font-size: 14px;
      line-height: 24px;
    }
  }

  &__link {
    padding-left: 36px;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    text-decoration: underline;
  }
}