.footer.section
  ._wrap.wrap
    ._rights-reserved
      ._logo 
        +icon('logo-big')
      ._text © 2019. VidZen.ru. Все права защищены.
    ._links
      a(href="#")._link Условия использования
      a(href="#")._link Политика конфиденциальности
