doctype html
html
    include ../elements/head/head
    +head('Login', 'Page description', 'Page keywords')
    body
        include ../elements/login/login

        script(src="js/libs.min.js")
        script(src="js/custom.js")