doctype html
html
    include ../elements/head/head
    +head('Registration', 'Page description', 'Page keywords')
    body
        include ../elements/registration/registration

        script(src="js/libs.min.js")
        script(src="js/custom.js")