.players
  .players-containet
    ._title Список проигрывателей
    ._wrap.wrap
      .wrap__item-left

        .wrap__button
          button(type='submit').players__button Добавить проигрыватель

        .block
          .block__img
            img(src="img/one.png", alt="alt").img
            .block__triangle
              +svg('triangle', 'block__triangle_whide')
          .block__text 
            .block__title Проигрыватель <br> для генерации EVA   
            .block__bid
              +svg('bid')
              .block__bid-text 10,356
            .block__browsing
              +icon('browsing')
              .block__browsing-text 37
              .block__browsing-points
                +icon('points')
                .select
                  ._item
                    a(href="#", title="title").select__item-link Дублировать
                  ._item
                    a(href="#", title="title").select__item-link Редактировать
                  ._item
                    a(href="#", title="title").select__item-link Получить код
                  ._item
                    a(href="#", title="title").select__item-link.delete Удалить

        .block
          .block__img
            img(src="img/two_.png", alt="alt").img
            .block__triangle
              +svg('triangle', 'block__triangle_whide')
          .block__text 
            .block__title Бесплатная <br> консультация Док.   
            .block__bid
              +svg('bid')
              .block__bid-text 10,356
            .block__browsing
              +icon('browsing')
              .block__browsing-text 37
              .block__browsing-points
                +icon('points')
                .select
                  ._item
                    a(href="#", title="title").select__item-link Дублировать
                  ._item
                    a(href="#", title="title").select__item-link Редактировать
                  ._item
                    a(href="#", title="title").select__item-link Получить код
                  ._item
                    a(href="#", title="title").select__item-link.delete Удалить

        .block
          .block__img
            img(src="img/three.png", alt="alt").img
            .block__triangle
              +svg('triangle', 'block__triangle_whide')
          .block__text 
            .block__title Проигрыватель на <br> главную EVA 
            .block__bid
              +svg('bid')
              .block__bid-text 10,356
            .block__browsing
              +icon('browsing')
              .block__browsing-text 37
              .block__browsing-points
                +icon('points')
                .select
                  ._item
                    a(href="#", title="title").select__item-link Дублировать
                  ._item
                    a(href="#", title="title").select__item-link Редактировать
                  ._item
                    a(href="#", title="title").select__item-link Получить код
                  ._item
                    a(href="#", title="title").select__item-link.delete Удалить
        .block
          .block__img
            img(src="img/three.png", alt="alt").img
            .block__triangle
              +svg('triangle', 'block__triangle_whide')
          .block__text 
            .block__title Проигрыватель на <br> главную EVA 
            .block__bid
              +svg('bid')
              .block__bid-text 10,356
            .block__browsing
              +icon('browsing')
              .block__browsing-text 37
              .block__browsing-points
                +icon('points')
                .select
                  ._item
                    a(href="#", title="title").select__item-link Дублировать
                  ._item
                    a(href="#", title="title").select__item-link Редактировать
                  ._item
                    a(href="#", title="title").select__item-link Получить код
                  ._item
                    a(href="#", title="title").select__item-link.delete Удалить
        .block
          .block__img
            img(src="img/three.png", alt="alt").img
            .block__triangle
              +svg('triangle', 'block__triangle_whide')
          .block__text 
            .block__title Проигрыватель на <br> главную EVA 
            .block__bid
              +svg('bid')
              .block__bid-text 10,356
            .block__browsing
              +icon('browsing')
              .block__browsing-text 37
              .block__browsing-points
                +icon('points')
                .select
                  ._item
                    a(href="#", title="title").select__item-link Дублировать
                  ._item
                    a(href="#", title="title").select__item-link Редактировать
                  ._item
                    a(href="#", title="title").select__item-link Получить код
                  ._item
                    a(href="#", title="title").select__item-link.delete Удалить
        .block
          .block__img
            img(src="img/three.png", alt="alt").img
            .block__triangle
              +svg('triangle', 'block__triangle_whide')
          .block__text 
            .block__title Проигрыватель на <br> главную EVA 
            .block__bid
              +svg('bid')
              .block__bid-text 10,356
            .block__browsing
              +icon('browsing')
              .block__browsing-text 37
              .block__browsing-points
                +icon('points')
                .select
                  ._item
                    a(href="#", title="title").select__item-link Дублировать
                  ._item
                    a(href="#", title="title").select__item-link Редактировать
                  ._item
                    a(href="#", title="title").select__item-link Получить код
                  ._item
                    a(href="#", title="title").select__item-link.delete Удалить

      .wrap__item-right 
        .wrap__item-right-title Lorem ipsum dolor sit amet
        .wrap__item-right-inf
          .number-views
            +svg('triangle')
            .views-box
              .views-box__number 10,356
              .views-box__views Просмотров
          .number-applications
            +svg('bid', 'number-applications__bid')
            .applications-box
              .applications-box__number 37
              .applications-box__applications Заявок
          button(type='submit').button.wrap__item-right-infbutton Редактировать форму
        
        .block-inf
          ._item
            .block-inf__left Время запуска формы:
            .block-inf__right 1:15
          ._item
            .block-inf__left Время показа формы:
            .block-inf__right Нет
          ._item
            .block-inf__left Расположение формы:
            .block-inf__right Слева 1/3
          ._item
            .block-inf__left Список e-mail адресов:
            .block-inf__right moonlapse@verizon.net, tlinden@sbcglobal.net, kalpol@mac.com

        .block-title  Ссылка на проигрыватель
        .block-link src="https://vidzen.ru/embed/cbe9f73ef3167b6fd150574bcd4b2934" frameborder="0">
          +svg('copy')

              

    