.players.section 
  ._wrap.wrap
    ._title Список проигрывателей
    ._content

      ._list
        a(href="#")._button.button Добавить проигрыватель
        ._player
          ._player-preview
            img(src="img/one.png", alt="alt").img
            ._triangle
              +svg('triangle', 'players__triangle_whide')

          ._player-info
            ._player-title Проигрыватель <br> для генерации EVA   
            ._player-bid
              +svg('bid')
              ._player-bid-info 10,356
            ._player-browsing
              ._player-browsing-info               
                  +icon('browsing')
                  ._player-browsing-number 37
              ._player-browsing-points
                +icon('points')
                ._player-select
                  ._player-select-item
                    a(href="#", title="title")._player-select-link Дублировать
                  ._player-select-item
                    a(href="#", title="title")._player-select-link Редактировать
                  ._player-select-item
                    a(href="#", title="title")._player-select-link Получить код
                  ._player-select-item
                    a(href="#", title="title")._player-select-link.delete Удалить

        ._player
          ._player-preview
            img(src="img/two_.png", alt="alt").img
            ._triangle
              +svg('triangle', 'players__triangle_whide')

          ._player-info
            ._player-title Проигрыватель <br> для генерации EVA   
            ._player-bid
              +svg('bid')
              ._player-bid-info 10,356
            ._player-browsing
              ._player-browsing-info               
                  +icon('browsing')
                  ._player-browsing-number 37
              ._player-browsing-points
                +icon('points')
                ._player-select
                  ._player-select-item
                    a(href="#", title="title")._player-select-link Дублировать
                  ._player-select-item
                    a(href="#", title="title")._player-select-link Редактировать
                  ._player-select-item
                    a(href="#", title="title")._player-select-link Получить код
                  ._player-select-item
                    a(href="#", title="title")._player-select-link.delete Удалить

        ._player
          ._player-preview
            img(src="img/three.png", alt="alt").img
            ._triangle
              +svg('triangle', 'players__triangle_whide')

          ._player-info
            ._player-title Проигрыватель <br> для генерации EVA   
            ._player-bid
              +svg('bid')
              ._player-bid-info 10,356
            ._player-browsing
              ._player-browsing-info               
                  +icon('browsing')
                  ._player-browsing-number 37
              ._player-browsing-points
                +icon('points')
                ._player-select
                  ._player-select-item
                    a(href="#", title="title")._player-select-link Дублировать
                  ._player-select-item
                    a(href="#", title="title")._player-select-link Редактировать
                  ._player-select-item
                    a(href="#", title="title")._player-select-link Получить код
                  ._player-select-item
                    a(href="#", title="title")._player-select-link.delete Удалить
        ._player
          ._player-preview
            img(src="img/three.png", alt="alt").img
            ._triangle
              +svg('triangle', 'players__triangle_whide')

          ._player-info
            ._player-title Проигрыватель <br> для генерации EVA   
            ._player-bid
              +svg('bid')
              ._player-bid-info 10,356
            ._player-browsing
              ._player-browsing-info               
                  +icon('browsing')
                  ._player-browsing-number 37
              ._player-browsing-points
                +icon('points')
                ._player-select
                  ._player-select-item
                    a(href="#", title="title")._player-select-link Дублировать
                  ._player-select-item
                    a(href="#", title="title")._player-select-link Редактировать
                  ._player-select-item
                    a(href="#", title="title")._player-select-link Получить код
                  ._player-select-item
                    a(href="#", title="title")._player-select-link.delete Удалить
        ._player
          ._player-preview
            img(src="img/three.png", alt="alt").img
            ._triangle
              +svg('triangle', 'players__triangle_whide')

          ._player-info
            ._player-title Проигрыватель <br> для генерации EVA   
            ._player-bid
              +svg('bid')
              ._player-bid-info 10,356
            ._player-browsing
              ._player-browsing-info               
                  +icon('browsing')
                  ._player-browsing-number 37
              ._player-browsing-points
                +icon('points')
                ._player-select
                  ._player-select-item
                    a(href="#", title="title")._player-select-link Дублировать
                  ._player-select-item
                    a(href="#", title="title")._player-select-link Редактировать
                  ._player-select-item
                    a(href="#", title="title")._player-select-link Получить код
                  ._player-select-item
                    a(href="#", title="title")._player-select-link.delete Удалить
                    

      ._info
        ._info-title Lorem ipsum dolor sit amet
        ._info-header
          ._info-views
            +svg('triangle')
            ._info-stat
              ._info-stat-name 10,356
              ._info-stat-number Просмотров
          ._info-applications
            +svg('bid', 'players__info-applications__bid')
            ._info-stat
              ._info-stat-name 37
              ._info-stat-number-blue Заявок
          a(href="#").button._info-button Редактировать форму
        
        ._info-options
          ._info-options-item
            ._info-options-item-title Время запуска формы:
            ._info-options-item-value 1:15
          ._info-options-item
            ._info-options-item-title Время показа формы:
            ._info-options-item-value Нет
          ._info-options-item
            ._info-options-item-title Расположение формы:
            ._info-options-item-value Слева 1/3
          ._info-options-item
            ._info-options-item-title Список e-mail адресов:
            ._info-options-item-value moonlapse@verizon.net, tlinden@sbcglobal.net, kalpol@mac.com

        ._info-player  
          ._info-player-title Ссылка на проигрыватель      
          textarea._info-player-link
            <iframe src="https://vidzen.ru/embed/cbe9f73ef3167b6fd150574bcd4b2934"> </iframe>   
          +svg('copy')

              

    