.header
  .header-container
    ._logo.logo
      +icon('logo')
    ._nav.nav
      ul.nav-list
        li.nav-list__item
          a(href="#").nav-list__link Список проигрывателей
        li.nav-list__item
          a(href="#").nav-list__link Настройки
        li.nav-list__item
          a(href="#").nav-list__link Помощь
        li.nav-list__item
          a(href="#").nav-list__link Выйти
    ._user.user
      .user__img
        +icon('user')
      .user__name Здравствуйте, Игорь
