.header.section
  ._wrap.wrap
    ._logo
      +icon('logo')
    nav._nav
        a(href="#")._nav-link Список проигрывателей
        a(href="#")._nav-link Настройки
        a(href="#")._nav-link Помощь
        a(href="#")._nav-link Выйти
    ._user
      ._user-foto
        +icon('user')
      ._user-name Здравствуйте, Игорь
