.header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  padding: 12px 0;

  &__wrap {
    width: 1140px;
    max-width: 1440px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  &__nav {

    &-link {
      position: relative;
      color: grey;
      padding: 20px 15px;
      height: 100%;

      &:after {
        position: absolute;
        content: '';
        left: 50%;
        transform: translateX(-50%);
        bottom: -3px;
        height: 2px;
        width: 0;
        background: $blue;
        transition: 0.5s
      }

      &:hover {
        color: darken(grey, 20%);
        cursor: pointer;

        .header__nav-link:after {
          width: 90%;
        }

      }
    }
  }

  &__user {
    display: flex;
    align-items: center;

    &-foto {
      margin-right: 16px;
    }
  }
}

.header__nav-link:hover:after {

  width: 65%;

}