.header.section
  ._wrap.wrap
    ._logo
      +icon('logo')
    ul._nav
      li._nav-item
        a(href="#")._nav-link Список проигрывателей
      li._nav-item
        a(href="#")._nav-link Настройки
      li._nav-item
        a(href="#")._nav-link Помощь
      li._nav-item
        a(href="#")._nav-link Выйти
    ._user
      ._user-foto
        +icon('user')
      ._user-name Здравствуйте, Игорь
