.header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  padding: 12px 0;

  &__wrap {
    position: relative;
    width: 1140px;
    max-width: 1440px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  &__nav {

    &-link {
      position: relative;
      color: grey;
      padding: 20px 15px;
      height: 100%;

      &:after {
        position: absolute;
        content: '';
        left: 50%;
        transform: translateX(-50%);
        bottom: -3px;
        height: 2px;
        width: 0;
        background: $blue;
        transition: 0.5s
      }

      &:hover {
        color: darken(grey, 20%);
        cursor: pointer;

        .header__nav-link:after {
          width: 90%;
        }

      }
    }
  }

  &__user {
    display: flex;
    align-items: center;

    &-foto {
      margin-right: 16px;
    }
  }
}

.header__nav-link:hover:after {

  width: 65%;

}

.header__menu-btn {
  display: none;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
}

.header__menu-btn span,
.header__menu-btn span::before,
.header__menu-btn span::after {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #222;
}

.header__menu-btn span::before,
.header__menu-btn span::after {
  content: '';
  display: block;
  transition: 0.2s;
}

.header__menu-btn span::before {
  transform: translateY(-5px);
}

.header__menu-btn span::after {
  transform: translateY(5px);
}

.header__menu-btn_active span:before {
  transform: rotate(-35deg);
  width: 10px;
  transform-origin: left bottom;
}

.header__menu-btn_active span:after {
  transform: rotate(35deg);
  width: 10px;
  transform-origin: left top;
}

.header__block {
  display: flex;
  justify-content: center;
  align-items: center;
}





@media(max-width: 1200px) {
  .header {
    padding: 12px 15px;

    &__nav-link:hover:after {
      width: 0;
    }
  }

}

@media(max-width: 992px) {
  .header {
    &__user {

      &-name {
        display: none;
      }
    }
  }
}

@media(max-width: 768px) {
  .header {
    &__logo {
      flex-grow: 1;
    }

    &__nav {
      display: none;
      position: absolute;
      bottom: -177px;
      right: 106px;
      background: rgba(#000, 0.9);
      border-radius: 40px;
      z-index: 1;

      &-link {
        display: block;
        color: #fff;
      }
    }

    &__menu-btn {
      display: block;
    }
  }
}

@media(max-width: 576px) {
  .header {
    &__nav {
      bottom: -246px;
      right: 50%;
      transform: translateX(50%);
      width: 250px;
      text-align: center;
    }
  }
}