.header.section
  ._wrap.wrap
    ._logo
      +icon('logo')
    ._block  
      nav._nav
          a(href="#")._nav-link Список проигрывателей
          a(href="#")._nav-link Настройки
          a(href="#")._nav-link Помощь
          a(href="#")._nav-link Выйти
      a(href="#")._menu-btn
        span

    ._user
      ._user-foto
        +icon('user')
      ._user-name Здравствуйте, Игорь
